<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="app"></div>
    </div>

    <script type="text/javascript" src="https://maps.fatos.biz/dist/fatosmap-gl.js"></script>
    <script>
        let LatLng = {lat: 1.28516, lng: 103.84738}
        let map = new fatosmap.maps.Map(
            document.getElementById("app"),
            {
                zoom: 14,
                center: LatLng,
                maxZoom: 20,
                minZoom: 2,
                scrollwheel: true,
                scaleControl: true,
                fullscreenControl: true,
                zoomControl: false,
                draggable: true,
                rotateControl: true,
                key: 'rXw5Ah4hZs7Kzg4WzIC6Zie6MUmX1Aq0eEbxSWz4LWc'
            }
        )
    </script>
</body>
</html>