<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
 .leaflet-marker-pane > * {
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -o-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  transition: transform 1s linear;
}
</style>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
  
</head>
<body>
<div id="mapid" style="width: 600px; height: 400px;"></div>
<button id="tracking_start">play</button>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript"></script>
<script>

	var mymap = L.map('mapid').setView([36.500449, 127.268868], 16);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY3dsZWUiLCJhIjoiY2tobGQwcDA5MGo3NDJybTlxMXppbHB4ciJ9.C-dxxW2izCOFe0uINyKybQ', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 18,
		id: 'mapbox/streets-v11',
		//id: 'mapbox/light-v10',
		tileSize: 512,
		zoomOffset: -1,
		accessToken: 'pk.eyJ1IjoiY3dsZWUiLCJhIjoiY2tobGQwcDA5MGo3NDJybTlxMXppbHB4ciJ9.C-dxxW2izCOFe0uINyKybQ'
	}).addTo(mymap);

	var mark = []

	var tracking = document.getElementById('tracking_start');
	var start = 0;
	tracking.addEventListener('click', (event) => {
		var requests = setInterval(() => {
			console.log(new Date());
			/*
			axios.get(`/uploadajax`)
                .then((res) => {
                    if (res.data.uploading_filename != "false") {
                        if (res.data) {
                            uploaded.innerText =
                                `(${res.data.upload_filenum}/${res.data.all_upload_file})`
                            progress.innerHTML =
                                `<p>${res.data.uploading_filename}${Array(i).join(".")}`;
                            i = (i) % 5 + 1
                            loadingspiner.style.display = "block"
                            message.style.display = "block"
                        }
                    }
                }).catch()
				*/
        }, 1000);
	}) 
</script>
</body>
</html>