
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
 .leaflet-marker-pane > * {
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -o-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  transition: transform 1s linear;
}
</style>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
  
</head>
<body>
<div id="mapid" style="width: 600px; height: 400px;"></div>
<button id="tracking_start">play</button>
<script>

	var mymap = L.map('mapid').setView([36.500449, 127.268868], 16);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY3dsZWUiLCJhIjoiY2tobGQwcDA5MGo3NDJybTlxMXppbHB4ciJ9.C-dxxW2izCOFe0uINyKybQ', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 18,
		id: 'mapbox/streets-v11',
		//id: 'mapbox/light-v10',
		tileSize: 512,
		zoomOffset: -1,
		accessToken: 'pk.eyJ1IjoiY3dsZWUiLCJhIjoiY2tobGQwcDA5MGo3NDJybTlxMXppbHB4ciJ9.C-dxxW2izCOFe0uINyKybQ'
	}).addTo(mymap);

	var mark = []

	function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '',
            fillOpacity: 1.9,
            fillColor: 'black'
        };
    }
	{% for item in dtg_datas %}
		mark[{{forloop.counter0}}] = L.circleMarker(
				[{{item.avgLatitude}}, {{item.avgLongitude}}], 
				{
					radius : 2,
					style : style,
					color : "grey",
					opacity : 0.5,
				}
			).addTo(mymap);
	{% endfor %}
	{% comment %} console.log(mark[0].options)
	
	var group = L.layerGroup([{% for item in dtg_datas %}
		mark[{{forloop.counter0}}],
	{% endfor %}])

	group.addTo(mymap);
	{% endcomment %}
	var tracking = document.getElementById('tracking_start');
	var start = 0;
	tracking.addEventListener('click', (event) => {
		var current_car = L.marker([mark[start]._latlng.lat, mark[start]._latlng.lng] 
			/*, {
				icon: new L.DivIcon({
					className: 'my-div-icon',
					html: '<img class="my-div-image" src="http://png-3.vector.me/files/images/4/0/402272/aiga_air_transportation_bg_thumb"/>'+
						'<span class="my-div-span">RAF Banff Airfield</span>'
				})
			} */
		).addTo(mymap).bindPopup("<b>1146</b>")
		var requests = setInterval(() => {
			if(start>0) {
				current_car.setLatLng(
					[mark[start]._latlng.lat, mark[start]._latlng.lng]
				).update();
			}
			mymap.setView([mark[start]._latlng.lat, mark[start]._latlng.lng]);
			/*
			for (var i = 1; i <= 20; i++) {
				if(start - i < 0) continue;
				if (start - i %2 == 0) continue;
				mark[start -i ].setStyle({
					color : "blue",
					radius : 10 - i/2,
					opacity : 1,
					});;
			}
			
			if(start >= 20) {
				mark[start-20].setStyle({
						color : "grey",
						radius : 2,
						opacity : 0,
					});;
			}
			*/
			start++;

        }, 1000);
	}) 
</script>
</body>
</html>